<div class="card">
    <div class="card-img-top">
        <img src="{{flag}}" alt="{{capital}}">
    </div>
    <div class="card-body">
        <h2 class="text-capital"> capital: {{capital}}
        </h2>
        <h2 class="population"> population: {{population}}</h2>
        <h2 class="languages"> languages: {{languages}}</h2>
    </div>
</div>